# Ignore everything by default
*

# Allow only required files
!app
app/assets/builds/*
!app/assets/builds/.keep
!bin
!config
!db
!lib
!public
!spec
!storage/.keep
!vendor
!.annotaterb.yml
!.rspec
!.rubocop.yml
!.ruby-version
!config.ru
!Gemfile
!Gemfile.lock
!package.json
!package-lock.json
!Procfile.dev
!Rakefile
!wait-for-it.sh
!vite.config.mts
!tsconfig.json
!yarn.lock

# Ignore all default key files
config/master.key
config/credentials/*.key

# Keep folder placeholders
!log/.keep
!tmp/.keep
!tmp/pids/.keep
!tmp/storage/.keep
